body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: darkgrey;
    text-align: center;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'GameBoy', sans-serif;
}

.navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.section {
    padding: 80px 20px 20px; /* Añadimos un padding superior para evitar que el contenido quede oculto detrás de la barra */
}

.descripcion-caja {
    background-color:grey; /* Color de fondo de la caja */
    padding: 20px; /* Espaciado interno de la caja */
    margin: 20px auto; /* Margen superior e inferior */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 1000px; /* Ancho máximo de la caja */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
}

.descripcion {
    line-height: 2; /* Ajusta el espaciado entre líneas */
    letter-spacing: 0.5px; /* Ajusta el espaciado entre letras */
    margin: 20px 0; /* Ajusta el margen superior e inferior */
    text-align: justify; /* Justifica el texto para un mejor acabado */
}

.gifs-personajes {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los GIFs */
    padding-bottom: 60px;
}

.gifs-personajes img {
    width: 100px; /* Ajusta el tamaño de los GIFs según tus necesidades */
    height: 100px; /* Asegura que todos los GIFs tengan la misma altura */
    object-fit: cover; /* Asegura que los GIFs se ajusten al tamaño especificado */
}


.Herramientas {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 5px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes en sus contenedores */
}

.tool {
    position: relative;
    display: inline-block;
}

.tool-img {
    width: 80px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s;
}

.tool-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tool:hover .tool-img {
    transform: scale(1.1);
}

.tool:hover .tool-text {
    opacity: 1;
}

.Premios {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Tres columnas de igual tamaño */
    gap: 5px; /* Espacio entre las imágenes */
    justify-items: center; /* Centra las imágenes en sus contenedores */
}

.Premio {
    position: relative;
    display: inline-block;
}

.Premios-img {
    width: 450px; /* Ajusta el tamaño de las imágenes según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    transition: transform 0.3s;
    border: 5px solid gray; /* Añade un borde dorado */
    border-radius: 10px; /* Bordes redondeados */
}

.Premios-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.2em; 
    font-weight: bold; 
    border: 2px solid yellow; 
}

.Premio:hover .Premios-img {
    transform: scale(1.1);
}

.Premio:hover .Premios-text {
    opacity: 1;
}


.section h2 {
    color: firebrick;
    font-family: 'GameBoy', sans-serif;
}

.section h3{
    color: black;
    font-family: 'GameBoy', sans-serif;
}

.estanteria {
    background-color: burlywood; /* Color de fondo de la estantería */
    padding: 20px; /* Espaciado interno */
    border: 5px solid brown; /* Borde de la estantería */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    margin: 20px auto; /* Margen superior e inferior */
    max-width: 1200px; /* Ancho máximo de la estantería */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas de igual tamaño */
    gap: 20px; /* Espacio entre los proyectos */
}

.grid-item {
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto de elevación */
    text-align: center; /* Centrar el contenido */
}

.grid-item img {
    border-bottom: 2px solid black; /* Borde inferior de la imagen */
    padding-bottom: 10px; /* Espaciado inferior de la imagen */
    margin-bottom: 10px; /* Margen inferior de la imagen */
}

.grid-container :hover {
    transform: scale(1.1); /* Agranda la imagen al pasar el cursor */
}


.grid-item p {
    margin: 0; /* Quitar el margen del párrafo */
}
.cover-page {
    height: 100vh;
    border: solid 15px slategray;
    border-radius: 5%;
    background-color: chartreuse; /* Reemplaza 'background.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    text-align: center;
}

.cover-page h1 {
    font-size: 4em;
    font-family: 'GameBoy', sans-serif;
    animation: moveUpDown 2s infinite;
}


.contactos-section {
    background-color: rgb(117, 163, 177); /* Cambia el color de fondo */
    color: darkblue; /* Cambia el color del texto */
    padding: 20px; /* Añade un poco de padding */
    border-radius: 10px; /* Bordes redondeados */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
}

.contactos-section a {
    color: darkblue; /* Color del texto del enlace */
    text-decoration: none; /* Quita el subrayado del enlace */
    font-size: 1.2em; /* Aumenta el tamaño del texto */
    display: flex; /* Usa flexbox para alinear la imagen y el texto */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    margin: 10px 0; /* Añade un margen entre los enlaces */
}

.contact-icon {
    margin-right: 10px; /* Añade un espacio entre la imagen y el texto */
    width: 24px; /* Ajusta el tamaño de la imagen */
    height: 24px; /* Ajusta el tamaño de la imagen */
}


/* ----------------------------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: 'GameBoy';
    src: url('GameBoy.ttf') format('woff2'),s
         url('GameBoy.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Media Queries para hacer la página responsive */
@media (max-width: 768px) {
    .Herramientas {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }

    .Premios {
        grid-template-columns: repeat(1, 1fr); /* Dos columnas en pantallas medianas */
    }

    .navbar a {
        padding: 10px 12px;
    }

    .cover-page h1 {
        font-size: 3em;
    }
}

@media (max-width: 480px) {
    .Herramientas {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .Premios {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .navbar a {
        padding: 8px 10px;
    }

    .cover-page h1 {
        font-size: 2em;
    }

    .tool-img {
        width: 60px; /* Ajusta el tamaño de las imágenes para pantallas pequeñas */
    }

    .Premios-img {
        width: 250px; /* Ajusta el tamaño de las imágenes para pantallas pequeñas */
    }
}


/* Animación para mover el título ligeramente arriba y abajo */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}



